
@{
    List<StoryCardTrees> ListStoryCard = ViewBag.StoryCardTree as List<StoryCardTrees>;
    ViewData["Title"] = "FlowChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .StoryCard {
        position: absolute;
        height: 60px;
        width: 160px;
        border: 1px solid blue;
    }
    .on{
        border-color:brown
    }
   
</style>
<script src="~/js/jsplumb.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>



<script>
    var StoryCards = @Json.Serialize(ListStoryCard);
    window.onload = function() {
        createProcess()
    }

    jsPlumb.ready(function () {
       
        debugger;
        for (let i in StoryCards) {
            for (let j in StoryCards[i].storyCard) {
                for (let t in StoryCards[i].storyCard[j].fatherStoryCardId) {
                    jsPlumb.connect({
                        source: StoryCards[i].storyCard[j].fatherStoryCardId[t],
                        target: StoryCards[i].storyCard[j].storyCard.id,
                        endpoint: 'Dot',
                        connector: ['Straight'],
                        maxConnections: -1,
                        anchor: ['Top', 'Bottom'],
                        overlays: [['Arrow', { width: 12, length: 12, location: 0.5 }]]
                    })

                    jsPlumb.draggable(StoryCards[i].storyCard[j].storyCard.id)
                }
            }
        }

    })

    function createProcess() {
        debugger;
        for (let i in StoryCards) {
            let div = '';
            for (var j in StoryCards[i].storyCard) {
                let context = StoryCards[i].storyCard[j].storyCard.id + StoryCards[i].storyCard[j].storyCard.title;
                div += "<div id='" + StoryCards[i].storyCard[j].storyCard.id + "' class='StoryCard' style='left:" + 180 * j + "px' onclick=select('" +
                    StoryCards[i].storyCard[j].storyCard.id + "') ondblclick  =ToCard('" +
                    StoryCards[i].storyCard[j].storyCard.id + "','" + StoryCards[i].storyCard[j].storyCard.storySeriesID + "') style='float:left;margin-left:5px;margin-top:5px'>" +
                    context + "</div>";
            }
            let h = i == 0 ? 0 : 1;
            let content = "<div class='row' style='margin-top:"+90*h+"px'>" + div + "</div>";
            $("#contener").append(content);
        }
    }



    //跳转到特定页面
    function ToCard(CardId, SeriesId) {
        debugger;
        window.location.href = '/CreateStory/GetCard?StoryCardID=' + CardId + "&StorySeriesID=" + SeriesId
    }


</script>
<script>
    var selectcard = null;
    function ReturnList() {
        window.location.href ='/Creator/Index/'
    }
    function DelectCard() {
        
    }
    function select(cardid) {
        $('.StoryCard').removeClass("on");
        $('#'+cardid).addClass("on");
        selectcard = cardid;
    }
</script>
<button onclick="ReturnList()">返回</button>
<button onclick="DelectCard()">删除</button>

<hr />
<div id="contener"></div>
