@model NewCity.Models.StorySeries
@{
    ViewData["Title"] = "Creator";
    List<StorySeries> storySeries = ViewBag.storySeries as List<StorySeries>;
}


<div class="container-fluid">
    <div class="row">
        <button class="btn btn-default">增加</button>
    </div>
    <div class="row">
        <div class="col-md-4">树</div>
        <div class="col-md-8"></div>
    </div>
</div>