@model IEnumerable<NewCity.Models.StoryCard>
<script src="~/js/enum.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!--故事卡包装为树。新建下一故事卡要在故事卡里面建-->
<div class="container-fluid">
    <div class="row">
        @*<div class="col-md-3">

            </div>*@
        <div class="col-md-9">
            <div class="row">
                <div id="StoryId">

                </div>
                <div id="StoryName">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4" id="Img">

                </div>
                <div class="col-md-8" id="Content">

                </div>
            </div>
            <div class="row" id="Option">

            </div>
            <div class="form-group">
                <button type="button" onclick="AddOption()">增加选项</button>
            </div>
            <div class="form-group">
                <form asp-action="Save">
                    <input name="json" id="json" />
                    <button type="submit" onclick="SaveCard()">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--条件模态框-->
<div id="ConditionModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">
                <div id="Condition"></div>
                <div id="Conditionoperation"></div>
                
            </div>
        </div>
    </div>
</div>

<!--效果模态框-->
<div id="EffectModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">
                <form id="EffectForm"></form>
                <button onclick="AddEffect()">+</button>
                <button onclick="SaveEffect()">确定</button>
            </div>
        </div>
    </div>
</div>

<!--下一张卡片模态框-->
<div id="NextCardModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script>
    //将来自控制器的故事卡转换为js对象,并显示到页面
    var CardObj;

    $(function () {
        CardObj = @Json.Serialize(Model.First());
        CreaterView(CardObj)
    });

    /////////////////////////主界面
    //根据输入的卡片构建主界面
    function CreaterView(card) {
        debugger;

        EmptyView()

        $("#StoryId").append(card.id)
        $("#StoryName").append(card.storyName)
        $("#Img").append(card.img)
        $("#Content").append(card.text)
        $("#BackgroundIMG").append(card.backgroundIMG)

        for (let i = 0; i < card.storyOptions.length; i++) {
            CreateOption(i);
        }


    }
    function CreateOption(i) {
        let option;

        option += i + 1 + "."
        option += "<button type='button' onclick='CreateCondition(" + i + ")'>条件</button>"
        option += "<input id=option" + i + " value=" + CardObj.storyOptions[i].text + " />"
        option += "<button type='button' onclick='Effect(" + i + ")'>效果</button>"
        option += "<button type='button' onclick='Cancel(" + i + ")'>取消</button>"
        option += "<button type='button' onclick=NextCard(" + i + ")>→</button>"

        $("#Option").append(option)
    }
    function EmptyView()
    {
        $("#StoryId").empty()
        $("#StoryName").empty()
        $("#Img").empty()
        $("#Content").empty()
        $("#BackgroundIMG").empty()

    }
    //取消选项
    function Cancel(optionid) {
        $("#" + optionid).remove();
        CardObj.storyOptions.remove(optionid);
    }
    //增加选项
    function AddOption() {
        debugger
        let option = {
            condition: null,
            effect: null,
            id: guid(),
            nextStoryCardID: emptyguid,
            storyCardID: CardObj.id,
            text: ""
        }
        CardObj.storyOptions.push(option);
        CreateOption(CardObj.storyOptions.length)
    }
    function SaveCard() {
        debugger;
        for (let i = 0; i < CardObj.storyOptions.length; i++) {
            //保存选项文本
            CardObj.storyOptions[i].text = $("#option" + i).val();
        }
        let json = JSON.stringify(CardObj);
        $("#json").val(json);

    }
    ///////////////////////////////end

    ////////////////////////////////条件
    //设置条件
    function CreateCondition(i) {
        EmptyCondition();

        for (let j = 0; j < CardObj.storyOptions.length; j++) {
            Condition(j,i);
        }
        let string = "<button onclick='AddCondition("+i+")'>+</button><button onclick = 'SaveCondition("+i+")' > 确定</button>";
        $('#Conditionoperation').append(string);

        $('#ConditionModel').modal('show');
    }

    //添加条件
    function AddCondition(storyoption){
        Condition(CardObj.storyOptions.length, storyoption)
    }

    //保存
    function SaveCondition() {
        $("#Conditionoperation>.conditionname").each(function (index, element) {

        })
        $("#Conditionoperation>.conditionvalue").each(function (index, element) {

        })
        $("#Conditionoperation>.conditionidselect").each(function (index, element) {

        })
    }

    function Condition(condition, storyoption) {
        let context =
            "<input class='conditionname' value=" + CardObj.storyOptions[storyoption].condition.name + "/>" +
            "<select>"
            + "<option value='1'>></option>"
            + "<option value='2'><</option>"
            + "<option value='3'>=</option>"
            + "<option value='4'>≠</option>"
            + "<select/>" +
            "<input  class='conditionvalue'  value=" + CardObj.storyOptions[storyoption].condition.value + "/>" +

        $("#conditionidselect" + condition).val(CardObj.storyOptions[storyoption].condition)
        $('#Condition').append(context)
    }

    function EmptyCondition() {
        $('#Condition').empty();
        $('#Conditionoperation').empty();
    }

    //取消条件
    function ConditionCancel(conditionID) {
        $("#conditionid" + conditionID).remove();
        CardObj.storyOptions.condition[conditionID].remove();
    }
    /////////////////////////////////end
    
    //////////////////////////////效果

    //////////////////////////////end




</script>

