@model NewCity.Models.StoryCard

@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>
<div class="container-fluid">
    <div class="col-md-3" style="background-color:aquamarine">
        1

    </div>
    <div class="col-md-6" style="background-color:aqua">
        @Html.DisplayFor(model => model.StoryName)
        ||
        @Html.DisplayFor(model => model.Text)
        

        @foreach(var option in Model.StoryOptions)
        {
            <button onclick="NextCard('@option.NextStoryCardID')">@option.Text</button>
        }



    </div>
    <div class="col-md-3" style="background-color:burlywood">
        1

    </div>
</div>


<script>
    function NextCard(storyID) {
        debugger;
        //$.post(
        //    '/Main/NextCart?storyID=' + storyID,
        //    { storyID: storyID },
        //    function (result) {
        //        debugger;
        //        alert(result);
        //    }
        //)

        fetch('/Main/NextCart?storyID=' + storyID, {
            method: 'post', headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function (response) {
                debugger;
                alert(response);
            })
    }
</script>
