
@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>
<div class="container-fluid">
    <div class="col-md-3" style="background-color:aquamarine">ppp</div>
    <div class="col-md-6" style="background-color:aqua">ppp</div>
    <div class="col-md-3"style="background-color:burlywood">ppp</div>
</div>
