@{
    ViewData["Title"] = "Creator";
}

<div class="container-fluid">
    <div class="row">
        <button class="btn-default">返回</button>
        <button class="btn-default">新增</button>
    </div>
    <hr />
    <div class="row">

    </div>
</div>
